body {
    font-family: arial;
    font-size: 16px;
    height: 100vh;
    background: #a7beff;
    margin: 0;
}
h1.logo-text {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
}
.login-div {
    width: 100%;
    text-align: center;
}
form {
    width: 300px;
    padding-top: 4%;
    margin: 0 auto;
}
label {
    font-size: 13px;
}
.input-field {
    width: 280px;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dfdfdf;
}
input.submit-button {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
    background: red;
    background: #10609e;
    margin-top: 20px;
    font-size: 15px;
    width: 300px;
    padding: 13px 0px;
    border: none;
}
span {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 15px;
}
.labelclass {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    float: left;
    font-size: 15px;
}
.labelclass1
{
    width: 100%;
    text-align: center;
    padding: 
    float: left;
    font-size: 20px;
}
.formclass
{
  width: 100%;
    background-color: white;
       padding: 34px 27px;   
}
h1{
	padding : 0 0 ;
}
h4
{
	padding: 0 0 ;
}
h4.text1 {
    font-size: 20px;
    color: #fff;
    font-style: italic;
    margin: 0;
    text-align: center;
}