body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
}
.site-header {
    background-color: #eee;
    width: 100%;
    float: left;
    clear: both;
}
nav {
    float: left;
    width: 70%;
}
.logo-text {
    font-size: 30px;
    width: 30%;
    text-transform: uppercase;
    float: left;
    padding: 0;
    display: inline-block;
    margin: 0;
}
.left-ul, .right-ul {
    list-style: none;
    padding: 0;
}
.left-ul li, .right-ul li{
    display: inline-block;
}
ul.right-ul {
    width: 70%;
    float: left;
    text-align: right;
}
ul.left-ul {
    width: 30%;
    float: left;
}
a {
    text-decoration: none;
}